*{
    font-size: 16px;
}
.body{
    position: relative;
}

.openMenu{
    display: none;
}
.closeMenu{
    display: none;
}

.body .graphModify, .body .settingsModify{
    margin-top: 5rem;
    margin-left: 14rem;
    padding: 1rem;
}

/* MOBILEEEEE */
@media screen and (min-width: 769px){
    .body .headerVertical{
        display: initial;
    }
}
@media screen and (max-width: 768px){
    .openMenu, .closeMenu{
        display: initial;
    }
    .closeMenu{
        color: white;
        text-align: center;
        cursor: pointer;
    }
    .closeMenu i {
        font-size: 3rem;
    }
    .closeMenu:hover{
        background-color: #314790;
    }
    .body .headerHorizontal{
        display: flex;
        height: auto;
    }
    .headerHorizontal .title h1{
        font-size: 2rem;
        font-weight: bold;
    }
    .headerHorizontal .openMenu{
        margin-right: 1.6rem;
    }
    .headerHorizontal .openMenu i{
        font-size: 3rem;
    }
    .body .headerVertical{
        display: none;
        top: 4rem;
        z-index: 1;
    }
    .body .headerVertical .elementsVertical{
        margin-top: 0;
        height: 90%;
    }
    .body .main{
        margin: 6rem 0 0 0;
        height: auto;
    }
    .main .card{
        box-shadow: 6px 10px 14px 1px #888888;
    }
    .body .graphModify{
        margin-left: 0;
    }
    .graphModify .actionGraph{
        flex-direction: column;
        align-items: center;
    }

    .settingsModify{
        margin: 0 !important;
        flex-direction: column;
        margin-top: calc(80px + 20px) !important;
        width: 100%;
    }

    .settingsModify .changeDeviceName{
        width: 90% !important;
        margin: 0 auto;
        height: auto !important;
        margin-bottom: 3rem;
    }
    .settingsModify .timeStandby{
        width: 90%;
        margin: 0 auto;
        height: auto;
    }
    .graphModify .actionGraph .divSelect{
        width: 100%;
        margin-left: 1rem;
    }
    .graphModify .actionGraph #selectTypeGraph{
        width: 95% !important;
    }
    .graphModify .actionGraph .divDate{
        width: 100%;
        margin-left: 1rem;
    }
    .graphModify .actionGraph .divDate input{
        width: 95%;
    }
    .graphModify .actionGraph .divDate .button{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
    .graphModify .actionGraph .divDate .btn-primary{
        width: 7rem;
    }
}

/* ANIMAÇÃO */
@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-210px);
                transform: translateX(-210px);
    }
    100% {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}

@keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-230px);
              transform: translateX(-230px);
    }
}