* {
    font-size: 16px;
}

.body {
    position: relative;
}

.openMenu {
    display: none;
}

.closeMenu {
    display: none;
}

.body .graphModify,
.body .settingsModify {
    margin-top: 5rem;
    margin-left: 14rem;
    padding: 1rem;
}


/* MOBILEEEEE */

@media screen and (min-width: 769px) {
    .body .headerVertical {
        animation-name: none;
        animation-duration: initial;
        display: initial !important;
    }
}

@media screen and (max-width: 400px) {
    .body .headerVertical .elementsVertical {
        margin-top: 0;
        height: 70%;
    }
    .body .headerVertical .monitory label,
    .headerVertical .graph label,
    .headerVertical .settings label {
        display: block;
        font-size: 1.1rem;
        font-family: 'Montserrat', Times, serif;
    }
    .headerVertical .elementsVertical .closeMenu i,
    .body .headerVertical .monitory .fa-desktop,
    .body .headerVertical .graph .fa-chart-line,
    .body .headerVertical .settings .fa-cog {
        font-size: 2rem;
    }
    .graphModify .actionGraph .divDate {
        display: flex;
        flex-direction: column;
    }
    .graphModify .actionGraph .divDate .button {
        align-self: center;
    }
    .graphModify .actionGraph .divDate .btn-primary {
        width: 12rem !important;
        font-size: 1.3rem;
    }
}


/* mobile screen vertical */

@media screen and (max-width: 768px) {
    .openMenu,
    .closeMenu {
        display: initial;
    }
    .closeMenu {
        color: white;
        text-align: center;
        cursor: pointer;
    }
    .closeMenu i {
        font-size: 3rem;
    }
    .closeMenu:hover {
        background-color: #314790;
    }
    .body .headerHorizontal {
        display: flex;
        height: auto;
    }
    .headerHorizontal .title h1 {
        font-size: 2rem;
        font-weight: bold;
    }
    .headerHorizontal .openMenu {
        margin-right: 1.6rem;
    }
    .headerHorizontal .openMenu i {
        font-size: 3rem;
    }
    .body .headerVertical {
        display: none;
        top: 4rem;
        z-index: 1;
    }
    .body .headerVertical .elementsVertical {
        margin-top: 0;
        height: 90%;
    }
    .body .main {
        margin: 6rem 0 0 0;
        height: auto;
    }
    .main .card {
        box-shadow: 6px 10px 14px 1px #888888;
    }
    .body .graphModify {
        margin-left: 0;
    }
    .graphModify .actionGraph {
        flex-direction: column;
        align-items: center;
    }
    .settingsModify {
        margin: 0 !important;
        flex-direction: column;
        margin-top: calc(80px + 20px) !important;
        width: 100%;
    }
    .settingsModify .changeDeviceName,
    .settingsModify .timeStandby {
        width: 90% !important;
        margin: 0 auto;
        height: auto !important;
        margin-bottom: 3rem;
    }
    .graphModify .actionGraph .divSelect,
    .graphModify .actionGraph .divDate {
        width: 100% !important;
        margin-left: 1rem !important;
    }
    .graphModify .actionGraph .divSelect #selectTypeGraph,
    .graphModify .actionGraph .divDate input {
        width: 95% !important;
    }
    .graphModify .actionGraph .divDate .button {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
    .graphModify .actionGraph .divDate .btn-primary {
        width: 7rem;
    }
}


/* mobile screen horizontal */

@media screen and (max-height: 500px) {
    .body .headerHorizontal {
        z-index: 1;
    }
    .body .headerVertical {
        z-index: 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 7rem;
        display: none;
    }
    .body .headerVertical .elementsVertical {
        display: flex;
        flex-direction: row;
        padding: 0.6rem;
    }
    .closeMenu i {
        font-size: 2rem;
        padding-top: 2rem;
    }
    .headerVertical .monitory label,
    .headerVertical .graph label,
    .headerVertical .settings label {
        font-size: 1.30rem !important;
    }
    .headerVertical .monitory .fa-desktop,
    .headerVertical .graph .fa-chart-line,
    .headerVertical .settings .fa-cog {
        font-size: 2.5rem !important;
    }
    .headerVertical .monitory .fa-desktop,
    .headerVertical .graph .fa-chart-line,
    .headerVertical .settings .fa-cog {
        font-size: 2rem;
    }
    .main .card {
        z-index: -1;
    }
    .graphModify .actionGraph .divDate {
        display: flex;
        flex-direction: column;
    }
    .graphModify .actionGraph .divDate .button {
        align-self: center;
    }
    .graphModify .actionGraph .divDate .btn-primary {
        width: 12rem !important;
        font-size: 1.3rem;
    }
}


/* ANIMATION SCREEN VERTICAL */

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-210px);
        transform: translateX(-210px);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes slide-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-230px);
        transform: translateX(-230px);
    }
}


/* ANIMATION SCREEN HORIZONTAL */

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-110px);
        transform: translateY(-110px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-200px);
        transform: translateY(-200px);
    }
}