* {
    font-size: 16px;
}

.conteiner {
    margin: 0 !important;
    background-color: #3d57ae !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Montserrat', Times, serif;
}

.logo .fa-plug {
    font-size: 3rem;
    margin-right: 2rem;
}

.login-content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.login-content .form {
    width: 40rem;
    height: auto;
    margin: auto 2rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem 0;
    border-radius: 1rem;
    box-shadow: 13px 13px 13px -5px #000000;
}

.login-content .div-login,
.login-content .div-password {
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, .125);
    box-shadow: 8px 8px 6px -3px #888888;
}

.login-content .div-login input,
.login-content .div-password input {
    margin-left: 1rem;
    width: 90%;
}

.login-content .div-login label,
.login-content .div-password label {
    margin-left: 1rem;
    font-weight: bold;
}

.login-content .form .div-button {
    align-self: center;
    width: auto;
}

.login-content .form .div-button a {
    width: 8rem;
    font-weight: 700;
    color: white;
    box-shadow: 8px 8px 6px -3px #888888;
}

@media all and (max-width:400px) {
    .conteiner {
        justify-content: flex-start;
    }
    .logo {
        align-items: center;
        margin-top: 10rem;
    }
    .logo .fa-plug {
        font-size: 13rem;
    }
    .logo h1 {
        font-size: 6rem;
    }
    .login-content .form {
        width: auto;
        background-color: transparent;
        box-shadow: initial;
    }
    .login-content .div-password {
        margin-top: 2rem;
    }
    .div-login,
    .div-password {
        display: flex;
        flex-direction: column;
        padding: 4rem;
        background-color: white;
        border: 1px solid;
        box-shadow: 10px 14px 15px 0px #000 !important;
    }
    .div-login div,
    .div-password div {
        display: flex;
        border-bottom: 1px solid black;
    }
    .div-login input,
    .div-password input {
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        margin-left: 1rem;
    }
    .div-login label,
    .div-login input,
    .div-password label,
    .div-password input {
        font-size: 4rem;
    }
    .div-login label:nth-child(2),
    .div-password label:nth-child(2) {
        font-size: 2.3rem;
        margin-left: 2rem;
        font-weight: bold;
    }
    .div-button {
        text-align: center;
        width: 100%;
        margin-top: 3rem;
    }
    .div-button a {
        width: 30rem !important;
        font-size: 5rem;
        color: white !important;
        border-radius: 2rem;
        box-shadow: 10px 14px 15px 0px #000 !important;
    }
}