.graphModify .actionGraph {
    width: 100%;
    display: flex;
    margin-top: 1rem;
}

.graphModify .actionGraph .divDate,
.graphModify .actionGraph .divSelect {
    margin-left: 3rem;
}


/* graph -> date */

.graphModify .actionGraph .divDate {
    width: 17rem;
}

.graphModify .actionGraph .divDate label {
    display: block;
}

.graphModify .actionGraph .divDate input {
    margin-right: 1rem;
    border-radius: .25rem;
    height: 2.30rem !important;
    border: 1px solid #ced4da;
}

.graphModify .actionGraph .divDate .button {
    display: inline-block;
}

.graphModify .actionGraph .divDate .btn-primary {
    padding: 0 !important;
    width: 5rem;
    height: 2rem;
    background-color: #3d57ae !important;
    box-shadow: 4px 5px 5px -3px #888888;
}


/* graph -> select */

.graphModify .actionGraph #selectTypeGraph {
    width: 13rem !important;
}


/* graph -> graph */

.graphModify .divGraph {
    position: relative;
    max-width: 83rem;
    border-radius: 1rem;
    margin: 2rem auto;
    padding: 1rem;
    box-shadow: 6px 10px 14px 1px #888888;
}