.headerVertical {
    position: fixed;
    left: 0;
    top: 5rem;
    width: 14rem;
    height: 100%;
    display: flex;
    background-color: #3d57ae;
}

.headerVertical .elementsVertical {
    width: 100%;
    height: 70%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.headerVertical .elementsVertical .monitory,
.headerVertical .elementsVertical .graph,
.headerVertical .elementsVertical .settings {
    color: white;
    text-align: center;
    cursor: pointer;
}

.headerVertical .monitory:hover,
.headerVertical .graph:hover,
.headerVertical .settings:hover {
    background-color: #314790;
}

.headerVertical .monitory label,
.headerVertical .graph label,
.headerVertical .settings label {
    display: block;
    font-size: 1.40rem;
    font-family: 'Montserrat', Times, serif;
}

.headerVertical .monitory .fa-desktop,
.headerVertical .graph .fa-chart-line,
.headerVertical .settings .fa-cog {
    font-size: 3rem;
}